@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Rye&display=swap');
* {
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#root {
    height: 100vh;
    overflow: auto;
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*========Shared across: header, searchbar, navigation=========
================================================================*/
#main {
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "head head" 
                         "main main";

    }

    h1#header {
        grid-area: head;
        color: rgba(27, 26, 18, 1);
        padding: 30px;
        line-height: 0.5;
        margin: 0;
        font-family: "Rye", cursive;
        font-size: 20px;
        position: fixed;
    }
    /*========SearchBar========
    =============================*/
    div#searchbar {
        position: fixed;
        top: 0;
        right: 10px;
        text-align:center;
        justify-self: center;
        width: 30%;
        color: rgb(18,8,153);
        z-index: 100;
        input#search-box{

            margin: 0 auto;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgb(18,8,153);;
            padding: 5px;
            font-size: 14px;
            color: rgb(18,8,153);
            width: 80%;
            transition: width 1.2s;
            text-align: center;
            text-transform: lowercase;
            font-family: "PT Sans", sans-serif;
            
            &:hover, :focus {
                width: 100%;
            }
        }
        div.search-option{
            font-size:12px;
            display: inline;
            text-transform: lowercase;
            font-family: "PT Sans", sans-serif;
        }
        #list {
            height: 90vh;
            width: 80%;
            list-style-type: none;
            background-color: white;
            color: blue;
            display: none;
            padding:10px;
            margin: 0 auto;
            overflow:scroll;
            li {
                padding:10px 40px;
                border-bottom: 1px dashed blue;  
                a {
                  text-decoration: none;
                }
            }
        }
    }
    /*=======Navigation=======
    ============================*/
    ul#navigation {
        position: fixed;
        right: 0;
        top: calc(50% - 151px); //nav is at center, minus half height
        
        li {
            list-style: none;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            padding: 10px 10px;
            box-shadow:inset -7px 0px darkred;
                a {
                text-decoration: none;
                color: rgba(109, 214, 233, 0.952);
                font-size: 18px;
                text-transform: lowercase;
                font-family: "PT Sans", sans-serif;
                border-left: 0px solid rgb(8,8,153);

                    &:hover,:focus {
                        border-left: 1px solid rgb(18, 8, 153);
                        transition: border 4s ease;
                    }
                }
        }
    }
    .main {
        grid-area: main;
    }





#beers-main{
    grid-area: main;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    #beers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        grid-gap: 80px;
        .beers-beer-card {
            text-align: center;
            max-width: 100%;
            background-color: blue;
            img {
                // background-color: rgba(56, 15, 168, 0.6);
                // border: 3px solid blue;
                border-radius: 10px;
                height: 400px;
                margin: 0 auto;
                padding: 30px;
            }
            a {
                color: yellow;
                text-transform: uppercase;
                font-size: 13px;
                font-family: "Unica One", cursive;
                background-color: rgba(56, 15, 168, 0.6);
            }
            #text {
               h1 { 
                    color: rgba(109, 214, 233, 0.952);
                    filter: drop-shadow(1px 1px 7px blue); 
                    text-transform: uppercase;
                    font-size: 40px;
                    font-family: "Unica One", cursive;
                    margin: 0;
                    width: 100%;
                    &:after {
                        content: attr(data-line);
                        margin: 0;
                        font-size: 17px;
                        color: rgb(153, 31, 147);
                        padding: 10px;
                        font-family: "Unica One", cursive;
                    }
                } 
            }
            
        }
    }
}

/* ======= Beer Card =======
===============================*/
.beer-card {
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "header header" "img main";
    color: rgb(6, 2, 24);

    div#beer-card-header {
        grid-area: header;
        text-align: center;
        // border-bottom: 1px solid white; 

        h2 {
            color: rgba(109, 214, 233, 0.952);
            filter: drop-shadow(1px 1px 7px blue); 
            text-transform: uppercase;
            font-size: 40px;
            font-family: "Unica One", cursive;
            margin: 0;
        }
        h4 {
            margin: 0;
            font-size: 17px;
            color: rgb(2, 2, 61);
            padding: 0;
            font-family: "Unica One", cursive;
        }
        
    }
    img {
        grid-area: img;
        justify-self: center;
        height: 300px;
        border:2px solid blue;
    }
    div#beer-card-main {
        grid-area: main;
        padding: 10px 50px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;

        p#description{
            text-align: center;
        }
        div#beer-card-props {
            text-align: center;
        }
        p#brewers-tips {

        }
    }
}

    #explore-btn {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "PT Sans", sans-serif;
        display: block;
        margin: 0 auto;
        margin-top: 300px;
        background: transparent;
        border: 2px solid rgb(255, 255, 255);
        color: white;
        max-width: 244px;
        height: 244px;
        border-radius: 50%;
    }

/*=======Making text as background=======*/
h1#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 600px;
    text-align: center;
    line-height: 0.6;
    color: rgb(241, 238, 245);
    background-image: linear-gradient(rgb(244, 244, 250), rgb(190, 178, 178));
    margin: 0;
    padding: 0;
    z-index:-100;
}
h1#other {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 550px;
    text-align: center;
    line-height: 0.6;
    color: rgba(65, 65, 243, 0.479);
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index:-100;
}

.about {
    h2 {
        color: rgba(109, 214, 233, 0.952);
        filter: drop-shadow(1px 1px 7px blue); 
        text-transform: uppercase;
        font-size: 40px;
        font-family: "Unica One", cursive;
        margin: 0;
        font-size: 60px;
        text-align: center;
    }
    p {
        color: rgb(174, 227, 240);
        font-family: "PT Sans", sans-serif;
        text-align: center;
        padding: 40px;
        margin: 0 200px;
    }
}

button {
    background-color: rgba(109, 214, 233, 0.952);
    color: rgba(2,2,61,1);
    border: 2px solid rgba(2,2,61,1);
    border-radius: 3px;
    padding: 10px;
}


.active {
    background-color: yellow;
}
form {
    margin:0;
    padding: 0;
}