@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie|Rye&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  overflow: auto;
}

/*========Shared across: header, searchbar, navigation=========
================================================================*/
#main {
  height: 100vh;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 5fr;
      grid-template-columns: 7fr 5fr;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "head search"  "main main";
}

h1#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  color: #1b1a12;
  padding: 30px;
  line-height: 0.5;
  margin: 0;
  font-family: "Rye", cursive;
  font-size: 20px;
  position: fixed;
}

/*========SearchBar========
    =============================*/
div#searchbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: search;
  top: 0;
  right: 10px;
  text-align: center;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 80%;
  color: #120899;
  z-index: 100;
}

div#searchbar input#search-box {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #120899;
  padding: 5px;
  font-size: 14px;
  color: #120899;
  width: 80%;
  -webkit-transition: width 1.2s;
  transition: width 1.2s;
  text-align: center;
  text-transform: lowercase;
  font-family: "PT Sans", sans-serif;
}

div#searchbar input#search-box:hover, div#searchbar input#search-box :focus {
  width: 100%;
}

div#searchbar div.search-option {
  font-size: 12px;
  display: inline;
  text-transform: lowercase;
  font-family: "PT Sans", sans-serif;
}

div#searchbar #list {
  height: 90vh;
  width: 80%;
  list-style-type: none;
  background-color: white;
  color: blue;
  display: none;
  padding: 10px;
  margin: 0 auto;
  overflow: scroll;
}

div#searchbar #list li {
  padding: 10px 40px;
  border-bottom: 1px dashed blue;
}

div#searchbar #list li a {
  text-decoration: none;
}

/*=======Navigation=======
    ============================*/
ul#navigation {
  position: fixed;
  right: 0;
  top: calc(50% - 151px);
}

ul#navigation li {
  list-style: none;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 10px 10px;
  -webkit-box-shadow: inset -7px 0px darkred;
          box-shadow: inset -7px 0px darkred;
}

ul#navigation li a {
  text-decoration: none;
  color: rgba(109, 214, 233, 0.952);
  font-size: 18px;
  text-transform: lowercase;
  font-family: "PT Sans", sans-serif;
  border-left: 0px solid #080899;
}

ul#navigation li a:hover, ul#navigation li a :focus {
  border-left: 1px solid #120899;
  -webkit-transition: border 4s ease;
  transition: border 4s ease;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

#beers-main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#beers-main #beers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 100%;
  grid-gap: 80px;
}

#beers-main #beers .beers-beer-card {
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "head head " "img subhead" "img btn";
  text-align: center;
  max-width: 100%;
}

#beers-main #beers .beers-beer-card img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  border-radius: 10px;
  height: 400px;
  padding: 0px;
  padding-top: 20px;
      justify-self: end;
}

#beers-main #beers .beers-beer-card a {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: btn;
  color: yellow;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Unica One", cursive;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#beers-main #beers .beers-beer-card h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  color: rgba(109, 214, 233, 0.952);
  -webkit-filter: drop-shadow(1px 1px 7px blue);
          filter: drop-shadow(1px 1px 7px blue);
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Unica One", cursive;
  margin: 0;
  width: 100%;
}

#beers-main #beers .beers-beer-card h4 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subhead;
  margin: 0;
  font-size: 17px;
  color: #991f93;
  -webkit-filter: drop-shadow(1px 1px 7px blue);
          filter: drop-shadow(1px 1px 7px blue);
  padding: 0px;
  font-family: "Unica One", cursive;
}

/* ======= Beer Card =======
===============================*/
.beer-card {
  margin: 0 auto;
  max-width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
      grid-template-areas: "header header" "img main";
  color: #060218;
}

.beer-card div#beer-card-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  text-align: center;
}

.beer-card div#beer-card-header h2 {
  color: rgba(109, 214, 233, 0.952);
  -webkit-filter: drop-shadow(1px 1px 7px blue);
          filter: drop-shadow(1px 1px 7px blue);
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Unica One", cursive;
  margin: 0;
}

.beer-card div#beer-card-header h4 {
  margin: 0;
  font-size: 17px;
  color: #02023d;
  padding: 0;
  font-family: "Unica One", cursive;
}

.beer-card img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 300px;
  border: 2px solid blue;
}

.beer-card div#beer-card-main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 10px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.beer-card div#beer-card-main p#description {
  text-align: center;
}

.beer-card div#beer-card-main div#beer-card-props {
  text-align: center;
}

#explore-btn {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  background: transparent;
  border: 2px solid white;
  color: #190c96;
  max-width: 244px;
  height: 244px;
  border-radius: 50%;
  background-color: white;
}

/*=======Making text as background=======*/
h1#bg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 600px;
  text-align: center;
  line-height: 0.6;
  color: transparent;
  background-color: #2b2436;
  margin: 0;
  padding: 0;
  z-index: -100;
}

h1#other {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 550px;
  text-align: center;
  line-height: 0.6;
  color: rgba(65, 65, 243, 0.479);
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: -100;
}

.about h2 {
  color: rgba(109, 214, 233, 0.952);
  -webkit-filter: drop-shadow(1px 1px 7px blue);
          filter: drop-shadow(1px 1px 7px blue);
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Unica One", cursive;
  margin: 0;
  font-size: 60px;
  text-align: center;
}

.about p {
  color: #aee3f0;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  padding: 40px;
  margin: 0 200px;
}

button {
  background-color: rgba(109, 214, 233, 0.952);
  color: #02023d;
  border: 2px solid #02023d;
  border-radius: 3px;
  padding: 10px;
}

.active {
  background-color: yellow;
}
/*# sourceMappingURL=index.css.map */